.navigation-clean-button {
  background: #fff;
  padding-top: .75rem;
  padding-bottom: .75rem;
  color: #333;
  border-radius: 0;
  box-shadow: none;
  border: none;
  margin-bottom: 0;
}

.navigation-clean-button .navbar-brand {
  font-weight: bold;
  color: inherit;
}

.navigation-clean-button .navbar-brand:hover {
  color: #222;
}

.navigation-clean-button .navbar-toggler {
  border-color: #ddd;
}

.navigation-clean-button .navbar-toggler:hover, .navigation-clean-button .navbar-toggler:focus {
  background: none;
}

.navigation-clean-button .navbar-toggler {
  color: #888;
}

.navigation-clean-button .navbar-nav a.active, .navigation-clean-button .navbar-nav > .show > a {
  background: none;
  box-shadow: none;
}

.navigation-clean-button.navbar-light .navbar-nav a.active, .navigation-clean-button.navbar-light .navbar-nav a.active:focus, .navigation-clean-button.navbar-light .navbar-nav a.active:hover {
  color: #8f8f8f;
  box-shadow: none;
  background: none;
  pointer-events: none;
}

.navigation-clean-button.navbar .navbar-nav .nav-link {
  padding-left: 65px;
  padding-right: 18px;
}

.navigation-clean-button.navbar-light .navbar-nav .nav-link {
  color: #465765;
}

.navigation-clean-button.navbar-light .navbar-nav .nav-link:focus, .navigation-clean-button.navbar-light .navbar-nav .nav-link:hover {
  color: #37434d !important;
  background-color: transparent;
}

.navigation-clean-button .navbar-nav > li > .dropdown-menu {
  margin-top: -5px;
  box-shadow: 0 4px 8px rgba(0,0,0,.1);
  background-color: #fff;
  border-radius: 2px;
}

.navigation-clean-button .dropdown-menu .dropdown-item:focus, .navigation-clean-button .dropdown-menu .dropdown-item {
  line-height: 2;
  font-size: 14px;
  color: #37434d;
}

.navigation-clean-button .dropdown-menu .dropdown-item:focus, .navigation-clean-button .dropdown-menu .dropdown-item:hover {
  background: #eee;
  color: inherit;
}

.navigation-clean-button .actions .login {
  margin-right: 1rem;
  text-decoration: none;
  color: #465765;
}

.navigation-clean-button .navbar-text .action-button, .navigation-clean-button .navbar-text .action-button:active, .navigation-clean-button .navbar-text .action-button:hover {
  background: #56c6c6;
  border-radius: 20px;
  font-size: inherit;
  color: #fff;
  box-shadow: none;
  border: none;
  text-shadow: none;
  padding: .5rem 1rem;
  transition: background-color 0.25s;
  font-size: inherit;
}

.navigation-clean-button .navbar-text .action-button:hover {
  background: #66d7d7;
}

.profile-img {
  width: 131px;
  border-radius: 50%;
  margin: 13px 0px;
}

.button-icon {
  margin-left: 8px;
}

.proyect-button {
  width: 178px;
  height: 50px;
  font-weight: bold;
  margin-right: 12px;
}

.proyect-image {
  width: 395px;
}

.proyect-year {
  font-size: 26px;
  font-weight: bold;
  background-color: rgb(29,92,214);
  color: white;
  padding: 7px 12px;
  border-radius: 8px;
}

.proyect {
  display: flex;
  margin: 61px 77px;
  justify-content: space-between;
  max-width: 743px;
}

.portafolio-header {
  text-align: center;
  margin-top: 109px;
  color: black;
  padding: 21px 0px;
  font-size: 49px;
  font-weight: bold;
}

.technology-button {
  background-color: gray;
  font-weight: bold;
  color: white;
  border-radius: 11px;
  padding: 10px 13px;
  margin: 5px 10px;
}

.proyect-links {
  font-size: 60px;
  margin: 14px 15px;
}

@media (max-width: 760px) {
  .proyect {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 750px) {
  .proyect-information {
    text-align: center;
    margin-top: 43px;
  }
}

@media (min-width: 760px) {
  .proyect-information {
    text-align: right;
  }
}

@media (max-width: 750px) {
  .proyect-right {
    flex-direction: column-reverse;
    align-items: center;
  }
}

.skills-img {
  width: 717px;
}

.skill-iconos {
  width: 79px;
}

@media (max-width: 1170px) {
  .section-skills {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 1070px) {
  .skills-img {
    width: 526px;
  }
}

.set-skills {
  display: flex;
  flex-wrap: wrap;
  padding: 26px 117px;
}

.contact-icon {
  width: 107px;
  border-radius: 50%;
  margin: 23px;
  box-shadow: -6px 7px 10px black;
}

.contact-correo {
  margin: 24px auto;
  display: block;
  background-color: white;
  color: black;
  padding: 15px 68px;
  border-radius: 15px;
  font-size: 21px;
  font-weight: bold;
}

.contact-section {
  background-color: var(--bs-primary);
  padding: 67px;
  color: white;
}

.navegacion {
  background-color: blue;
  color: white;
}

.nav-link {
  font-weight: bold;
}

.logo {
  width: 89px;
}

.profile-section {
  text-align: center;
  margin-bottom: 214px;
  margin-top: 6px;
}

.informacion-derecha {
  text-align: left;
}

